{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h2 class="text-left mb-2 ">Log in to your account.</h2>
{% endblock page_header %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
  <div style="width: 100%; ">
    {% if form.errors %}
      <div class="alert alert-danger">
        Your username and password didn’t match. Please try again.
      </div>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
      {% csrf_token %}

      <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="id_username" placeholder="Username" required>
      </div>

      <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required>
      </div>

      <button type="submit" class="btn btn-secondary w-10">Log in</button>
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
    </form>
  </div>
</div>
{% endblock content %}
